<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <br />
                    <br />
                    <br />
                    <MudCarousel Class="mud-width-full" Style="height:400px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false" AutoCycle="true" TData="object">
                        <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
                            <div class="d-flex" style="height:100%">
                                <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
                            </div>
                        </MudCarouselItem>
                        <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
                            <div class="d-flex" style="height:100%">
                                <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
                            </div>
                        </MudCarouselItem>
                        <MudCarouselItem Transition="Transition.Slide">
                            <div class="d-flex" style="height:100%">
                                <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Color="@Color.Primary" Size="@Size.Large" />
                            </div>
                        </MudCarouselItem>
                    </MudCarousel>
                </Authorizing>
                <NotAuthorized>
                    <MudText Typo="Typo.h5">Sorry</MudText>
                    <MudText Typo="Typo.h6">You're not authorized to reach this page. You need to login.</MudText>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <br />
                <br />
                <br />
                <MudCard>
                    <MudCardContent>
                        <MudText Typo="Typo.h5">Oops! Page Not Found</MudText>
                        <MudText Typo="Typo.body2">
                            <br />
                            Oops! Looks like you've stumbled into the digital wilderness.
                            If you believe this is a technical glitch, please let our team know.
                            We're always working to keep our digital landscape in tip-top shape.
                            Thanks for your understanding, and happy browsing!
                        </MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Href="/" Variant="Variant.Text" Color="Color.Primary">Go Home</MudButton>
                    </MudCardActions>
                </MudCard>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>